version: "3.9"
services:
  backend:
    build: ./backend
    env_file:
      - ./backend/.env
    volumes:
      - ./backend/opportunity.db:/app/opportunity.db
    ports:
      - "8001:8001"
    restart: always

  frontend:
    build: ./frontend
    ports:
      - "8000:8000"
    restart: always
